<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948228910912-3b10uqmpsh644bedpfm97lb45ms07sh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948228910912-3b10uqmpsh644bedpfm97lb45ms07sh4</string>
	<key>API_KEY</key>
	<string>AIzaSyC_ul_IJ9KL1vjT22J_akonnCz74Zw0SHg</string>
	<key>GCM_SENDER_ID</key>
	<string>948228910912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rekalantar.CovidCXR</string>
	<key>PROJECT_ID</key>
	<string>cxr-database</string>
	<key>STORAGE_BUCKET</key>
	<string>cxr-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948228910912:ios:80b26f07d413c1461754a5</string>
	<key>DATABASE_URL</key>
	<string>https://cxr-database.firebaseio.com</string>
</dict>
</plist>